<div class="container-fluid about-container">

  <div class="about-hero">
    <img src="https://freshcart.codescandy.com/assets/images/about/about-img.jpg" alt="about">
  </div>
  <div class="about-text">
    <div class="about-header">Lorem ipsum dolor sit amet.</div>
    <div class="about-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quaerat quod quibusdam accusamus error dolor, nulla quas facilis porro. Repudiandae quas unde, quibusdam in iste eveniet quia cum accusantium quae.</div>
  </div>

  <div class="about-why bg-dark text-white">
    <div class="why-header">
      <div class="header-title">Lorem ipsum dolor sit amet.</div>
      <div class="header-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ad excepturi fuga quod. Quo, possimus!</div>
    </div>

      <div class="point">
        <div class="info">monthly</div>
        <div class="stat">1MIL</div>
        <div class="info">revenue</div>
      </div>
      <div class="point">
        <div class="info">over</div>
        <div class="stat">50</div>
        <div class="info">cities</div>
      </div>
      <div class="point">
        <div class="stat">200K</div>
        <div class="info">stores</div></div>
      <div class="point">
        <div class="stat">100%</div>
        <div class="info">profit growth</div>
      </div>
  </div>

</div>