// Place all the styles related to the Shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.shop-products-container-title {
  grid-area: 1 / 2 / 2 / 5;
  font-weight: 700;
}

.shop-product-filter-container {
  grid-area: 2 / 2 / 3 / 5;
  font-weight: 700;
}